<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Logo</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="sass.html">Sass</a></li>
                    <li><a href="badges.html">Components</a></li>
                    <li><a href="collapsible.html">JavaScript</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1>Materials</h1>
        <a href="https://materializecss.com/getting-started.html" target="_blank">Material Reference</a>/
        <a href="https://fontawesome.com/icons?d=gallery" target="_blank">Font Awesome Icons</a>
        <p>Welcome to templating using EJS</p>
    </main>

    <footer class="blue-grey darken-4">
        <% include ../partials/footer-links %>
        <p style="text-align:center" class="white-text">© Copyright 2014 The Awesome People</p>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </footer>

</body>

</html>